<html>
<head>
    <title>GatorNet | Log-In</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>


<body class="bg-white" >


    <header class="bg-green-700 p-4 flex items-center" id="navbar">
        <div class="rounded-full flex items-center justify-center" >
        <img src="{% static 'img/logo.png' %}" />
        </div>
        <h1 class="text-white text-5xl ml-auto mr-auto" id="NavBartext">GatorNet</h1>
    </header>


    <main class="flex justify-center mt-20" >
        <div class="bg-gray-100 rounded-lg shadow-lg w-1/2" id="mainContainer"> 
            <div class="bg-green-700 text-white text-center py-2 rounded-t-lg " id="headerLogIn">
                <h2 class="text-xl" id="headerCardText">Log In</h2>
            </div>
            <div class="p-4" id="textInLogIN">
                <label class="block mb-2">Enter your email:</label>
                <input type="text" class="w-full p-2 mb-4 border rounded" />
                <label class="block mb-2">Enter your password:</label>
                <input type="password" class="w-full p-2 mb-4 border rounded" />
                <label>Don't have an account yet? Create one <a href="#" class="text-blue-800" >here.</a></label>
                <div id="buttonClass">
                <button class="bg-green-700 text-white rounded" id="button" >Log In</button>
            </div>
        </div>

        </div>
    </main>
    <div id="class"></div>

    <footer class="bg-green-700 text-white text-center py-4 mt-10" id="bottomPage">
        <a href="#" class="text-blue-300">About us</a>
        <span class="mx-4">|</span>
        <span>Copyright and such!</span>
    </footer>

</body>
</html>